   /*

コーディング仕様


html {
  font-size: 100%;
}

body {
  font-family: 'Crimson Text', serif;
}

これ大切
#mainVisual img{
   width: 100%;
   height: 100vh;
   object-fit: cover;
   object-position: center top;
}

リスト調整
list-style:none;とか

*/

   @charset "UTF-8";

   /* * {
	border: 1px solid red;
} */

   html {
     -webkit-overflow-scrolling: touch;
   }

   main {
     background-color: rgb(0, 0, 0);
     list-style: none;
   }

   body {
     /* font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif; */
     /* font-family: "メイリオ", meiryo, sans-serif; */
     font-family: 'Noto Sans JP', sans-serif;
     font-weight: 300;
   }


   body {
     list-style: none;
     color: white;
   }

   @media screen and (min-width: 768px) {
     main {
       background-color: rgb(0, 0, 0);
       /* background-color: rgb(33, 33, 33); */
     }
   }

   @media screen and (min-width: 1028px) {
     main {
       /* background-color: rgb(78, 78, 78); */
       background-color: rgb(0, 0, 0);
     }
   }

   li {
     list-style: none;
   }




   /*-------------------------------------------
ヘッダーナビゲーション、ロゴ
-------------------------------------------*/

   /* ヘッダー本体のレイアウト */
   .headerContainer {
     color: #fff;
     background: black;
     display: flex;
     justify-content: center;
   }

   /* ロゴ画像の設定 */
   .logo img {
     height: 60px;
     vertical-align: middle;
   }


   /* --------------------------------
ハンバーガーメニュー
---------------------------------*/

   /* メニューの中身のコンテンツのレイアウト設定 */
   .gnav a {
     display: block;
     padding: 15px 0;
     color: #fff;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     font-weight: 500;
   }

   /* ホバー時のメニューのコンテンツの設定 */
   .gnav a:hover {
     background-color: #a7a7a7;
     color: black;
     font-weight: 500;
   }

   /* スマートフォンのみハンバーガーメニュー表示 */
   @media screen and (max-width: 767px) {

     /* ハンバーガーメニューアイコン */
     .menu-btn {
       position: fixed;
       margin: 8px;
       right: 0;
       width: 48px;
       height: 48px;
       display: flex;
       justify-content: center;
       align-items: center;
       background: black;
       border-radius: 5px;
       /* メニューは常に最前面に */
       z-index: 100;
     }

     /* 三本線の配置 */
     .menu-btn span,
     .menu-btn span:before,
     .menu-btn span:after {
       content: '';
       display: block;
       position: absolute;
       width: 25px;
       height: 3px;
       /* 線の色は白、角丸 */
       background-color: #ffffff;
       border-radius: 3px;
     }

     /* 三本線の配置 */
     .menu-btn span:before,
     span:after {
       bottom: 8px;
     }

     /* 三本線の配置 */
     .menu-btn span:after {
       top: 8px;
     }

     /* メニュー開いた時の表示されるリンク */
     .gnav ul {
       background: gray;
       position: fixed;
       width: 50%;
       height: 100%;
       left: 100%;
       font-weight: 600;
       top: 0;
       transition: all 0.5s;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 5em;
       z-index: 99;
     }


     /* ハンバーガーメニュータップ時の挙動 */
     #menu-btn-check:checked~.menu-btn span {
       background-color: black;
     }

     /* 線を斜めに */
     #menu-btn-check:checked~.menu-btn span::before {
       bottom: 0;
       transform: rotate(45deg);
     }

     /* 線を斜めに */
     #menu-btn-check:checked~.menu-btn span::after {
       top: 0;
       transform: rotate(-45deg);
     }

     /* ヘッダー・グローバルナビゲーションを上書き */
     .header {
       height: calc(100vh);
     }

     .gnav {
       border-bottom: 1px solid #d8c7a0;
     }

     .gnav #menu-btn-check:checked~ul {
       left: 50%;
     }

     .gnav li {
       width: 100%;
     }

     .gnav a {
       text-align: left;
       padding-left: 20px;
     }
   }

   /* チェックボックスの非表示 */
   #menu-btn-check {
     display: none;
   }


   /*ヘッダー タブレット、PCサイズ時設定 */
   @media screen and (min-width: 768px) {

     /* ロゴの余白設定 */
     .logo {
       margin: 0.3em;
       margin-left: 1em;
     }

     /* ロゴとメニューの配置設定 */
     .headerContainer {
       justify-content: space-between;
       align-items: center;
     }

     /* メニューを横並びに変更 */
     .listContainer {
       width: 70vw;
       display: flex;
       justify-content: flex-end;
     }

     /* メニューの文字レイアウト設定 */
     .gnav a {
       font-size: medium;
       padding-right: 1em;
       padding-left: 1em;
     }
   }



   /*-------------------------------------------
メインビジュアル
-------------------------------------------*/
   .mainvisual img {
     width: 100%;
     height: 50vh;
     object-fit: cover;
     vertical-align: bottom;
     margin-bottom: 80px;
   }

   /*-------------------------------------------
白枠背景共通要素
-------------------------------------------*/
   .whiteBackgroundContent {
     background-color: white;
     border-radius: 10px;
     /* margin: 0 5%; */
     /* padding: 2rem; */
     width: 90vw;
     margin: 0 auto;
     padding: 3vw;
     color: black;
   }


   .blackBackgroundContent {
     margin: 0 5%;
     padding: 5% 5%;
   }

   /*-------------------------------------------
各セクション共通設定
-------------------------------------------*/
   section {
     margin-bottom: 10%;
   }


   /*-------------------------------------------
各見出し共通設定
-------------------------------------------*/
   /* セクション毎の見出しの設定 */
   h2 {
     margin-left: 5%;
     margin-bottom: 0.5em;
     color: white;
     font-size: 1.55rem;
     font-weight: 500;
   }


   /*-------------------------------------------
お知らせ
-------------------------------------------*/

   /* 各お知らせの共通設定 */
   .topic {
     margin-top: 1em;
     font-weight: 600;
   }

   /* トップメニューの画像設定 */
   .topNews img {
     display: none;
   }

   /* 日付の書体設定 */
   .topic p:last-child {
     text-align: right;
     font-size: 0.8em;
     color: gray;
   }

   /* アイコンのスタイル */
   .icon {
     font-size: small;
     background-color: rgb(248, 255, 41);
     display: inline-block;
     color: #000;
     padding: 2px 10px;
     margin-bottom: 1px;
   }

   /* タブレットサイズ、PCサイズ時 */
   @media screen and (min-width: 768px) {

     /* ２カラムに変更 */
     .newsContainer {
       display: flex;
       justify-content: space-around;
     }

     /* トップニュースの幅設定 */
     .topNews {
       width: 30%;
     }

     /* トップニュースの画像設定 */
     .topNews img {
       width: 100%;
       display: block;
       margin: 0 auto 0 auto;
       margin-bottom: 5px;
     }

     /* サブニュースの幅設定 */
     .subNews {
       width: 55%;
     }

   }

   /*-------------------------------------------
上映スケジュール
-------------------------------------------*/

   /* slickの矢印のレイアウト設定 */
   .slick-prev:before,
   .slick-next:before {
     color: red !important;
     font-size: 50px !important;
     opacity: 0.5 !important;
   }

   /* slickの矢印の位置調整 */
   .slick-next {
     right: 5px !important;
   }

   /* タブ全体の設定 */
   .tabs {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
     margin-bottom: 20px;
     text-align: center;
   }

   /* 個々のタブの設定 */
   .tab {
     width: 3em;
     padding-bottom: 5px;
     margin: auto auto 0 auto;
     font-size: small;
     cursor: pointer;
     font-weight: normal;
     color: gray;
   }


   /* 選択中のタブの設定 */
   .active-tab {
     color: black;
     font-weight: bold !important;
     font-size: large !important;
     border-bottom: #000 3px solid;
   }



   /* 上映スケジュールテーブルの設定 */


   /* -/-のスケジュール */
   .schedule h3 {
     text-align: center;
   }

   /* テーブルの設定 */
   .schedule table {
     width: 95%;
     table-layout: fixed;
     border-collapse: collapse;
     font-size: large;
     margin: 0.5em auto 0em auto;
   }

   /* 作品ポスター画像の設定 */
   .schedule .movieImage {
     aspect-ratio: 3/4;
     object-fit: cover;
     height: 100%;
     align-items: baseline;
   }

   /* 作品ポスターセルの設定 */
   .schedule .imageCell {
     width: 45vw;
     border: 1px solid gray;
   }

   /* 時間格納セルの設定 */
   .schedule .timeCell {
     height: 2em;
     font-size: 1rem;
     border: 1px solid gray;
     text-align: center;
   }

   /* セルの共通設定 */
   .schedule td {
     text-align: center;
     border: 1px solid gray;
     height: 2em;
   }




   /* タブレット、PCサイズ時設定 */
   @media screen and (min-width: 768px) {

     /* タブ全体の設定 */
     .tabs {
       margin-bottom: 10px;
     }


     /* -/-のスケジュール */
     .scheduleTitle {
       padding: 5px 0;
       font-weight: bold;
     }

     /* スケジュールの背景設定 */
     .schedule .whiteBackgroundContent {
       padding-bottom: 0px;
       padding-top: 20px;
     }

     /* タイムテーブルサイズ設定 */
     .schedule table {
       width: 35vw;
     }


     /* 段組み変更の設定 */
     .scheduleContainer {
       display: flex;
       justify-content: space-evenly;
       flex-direction: row;
       width: 80vw;
       margin: 0 auto 0 auto;
       margin-bottom: 50px;
     }
   }

   /* PC表示はタブレットと同じ */
   @media screen and (min-width: 1028px) {}


   /*-------------------------------------------
料金
-------------------------------------------*/
   .price dl {
     display: flex;
     justify-content: space-around;
     /* dt、ddを横並びにする */
     flex-wrap: wrap;
     /* dtとddが100%になったら、横並びを折り返す */
     padding: 0 1em;
     margin-bottom: 1em;
     margin-left: auto;
     margin-right: auto;
   }

   .price dt {
     width: 70%;
   }

   .price dd {
     width: 30%;
     text-align: right;
   }

   .price dd,
   dt {
     margin-top: 1em;
   }

   .price p {
     margin: 2em 1em;
   }



   @media screen and (min-width: 768px) {}

   /* PC表示*/
   @media screen and (min-width: 1028px) {
    .price p {
      margin: 2em 0 0 0;
    }
    
    .price dl {
      /* background-color: #032559; */
      width: 35vw;
      margin: 0;
      /* background-color: red; */
    }

     .priceContainer {
       display: flex;
       /* background-color: black; */
       justify-content: space-between;
     }

   }



   /*-------------------------------------------
アクセス
-------------------------------------------*/



   .accessTable {
     border-collapse: collapse;
     margin: 20px auto;
     width: 85vw;
   }

   .accessTable th {
     background: rgb(30, 30, 30);
     color: #fff;
     padding: 0.5em;
     font-size: medium;
     font-weight: 400;

   }

   .accessTable td {
     border: 0px solid black;
     padding: 0.5em;
     text-align: left;
     background-color: rgb(16, 16, 16);
   }

   .last td:last-child {
     border: 0px solid black;
     width: 100%;
   }

   .accessTable th,
   .accessTable td {
     border-bottom: none;
     display: block;
     width: 100%;
   }

   
   .map {
    width: 100%;
    position: relative;
    /* padding-top: 56.25%; */
  }
  
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


   @media screen and (min-width: 768px) {

   }

   /* PC表示*/
   @media screen and (min-width: 1028px) {
    .accessContainer {
      /* width: 85vw; */
      align-items: center;
      margin: 0 auto;
      display: flex;
      justify-content:space-between;
    }

    .accessContainer {
      width: 90vw;
    }

     .accessContainer table {
      width: 46vw;
     }

     .map {
       /* width: 40vw; */
       height: 35em;
       width: 40vw;
     }

   }




   /*-------------------------------------------
お問い合わせ
-------------------------------------------*/

   .contact {
     width: 90%;
     margin: 0 auto;
   }

   .contactTop {
     padding: 2em 0 0 0;
   }

   .privacyPolicy h2 {
     color: black;
     font-weight: 900;
     margin: 0%;
     margin-bottom: 1em;
   }

   .privacyPolicy {
     color: #000;
     font-size: small;
     margin-bottom: 20px;
     padding: 2%;
     width: 100%;
   }

   .privacyPolicy h3 {
     padding-top: 1em;
   }

   .address {
     margin-top: 3em;
     /* margin-left: auto; */
     margin-right: 0%;
     width: 70%;
   }

   input {
     color: white;
   }

   textarea {
     color: white;
   }

   /* フォームの3つのブロックに対する指定 */
   .form-group {
     margin-bottom: 20px;
   }

   /* 項目名に対する指定 */
   .form-label {
     display: block;
     margin-bottom: 10px;
     color: white;
   }

   /* 送信ボタンを囲む<div>に対する指定 */
   .form-btn {
     margin: 30px 0;
     text-align: center;
   }

   /* 入力欄に対する指定 */
   input[type="text"],
   input[type="email"],
   textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #999;
   }

   /* 入力欄が:focus（入力状態）のとき */
   input[type="text"]:focus,
   input[type="email"]:focus,
   textarea:focus {
     border-color: #032559;
     outline: none;
   }

   /* 送信ボタン */
   button[type="submit"] {
     background: none;
     border: none;
     cursor: pointer;
   }

   /* 送信ボタンが:hoverのとき */
   button[type="submit"]:hover {
     opacity: 0.65;
   }

   .button {
     display: inline-block;
     border-radius: 5%;
     /* 角丸       */
     font-size: 18pt;
     /* 文字サイズ */
     text-align: center;
     /* 文字位置   */
     cursor: pointer;
     /* カーソル   */
     padding: 12px 35px;
     /* 余白       */
     background: #ffffff;
     /* 背景色     */
     color: #000000;
     /* 文字色     */
     line-height: 1em;
     /* 1行の高さ  */
     transition: .3s;
     /* なめらか変化 */
     border: 2px solid #ffffff;
     /* 枠の指定 */
   }

   .button:hover {
     color: #ffffff;
     /* 背景色     */
     background: #000000;
     /* 文字色     */
   }




   footer div {
     text-align: right;
   }

   .jumpToTopButton {
     margin-right: 20px;
     background-color: white;
     width: 3m;
     height: 3em;
     border-radius: 50%;
   }


   /*-------------------------------------------
フッター
-------------------------------------------*/
   footer {
     text-align: center;
   }

   footer .copyright {
     height: 2rem;
   }

   .slick-slide img {
     width: 100%;
   }

   .slick-prev:before,
   .slick-next:before {
     color: #d8c7a0;
   }