   /*

コーディング仕様


html {
  font-size: 100%;
}

body {
  font-family: 'Crimson Text', serif;
}

これ大切
#mainVisual img{
   width: 100%;
   height: 100vh;
   object-fit: cover;
   object-position: center top;
}

リスト調整
list-style:none;とか

*/

   @charset "UTF-8";

   /* * {
	border: 1px solid red;
} */

   main {
     background-color: black;
     list-style: none;
   }

   body {
     font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
     /* font-family: "メイリオ", meiryo, sans-serif; */
   }


   body {
     list-style: none;
     color: white;
   }

   @media screen and (min-width: 768px) {
     main {
       background-color: red;
     }
   }

   li {
     list-style: none;
   }


   /*-------------------------------------------
ヘッダーナビゲーション
-------------------------------------------*/

   #header {
     background-color: black;
     display: flex;
     justify-content: center;
   }


   /* #header {
     background-color: black;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     color: white;
   }



   #header ul {
     display: flex;
     padding: 10px 0;
   }

   #header li {
     margin-left: 30px;
   }

   #header li a {
     color: black;
     text-decoration: none;
   }

   #header li a:hover {
     opacity: 0.7;
   } */



   .mainvisual img {
     width: 100%;
     height: 50vh;
     object-fit: cover;
     vertical-align: bottom;
     margin: 0 0 50px 0;
   }

   /*-------------------------------------------
ロゴ
-------------------------------------------*/
   .logo {
     width: 80px;
   }


   /*-------------------------------------------
ハンバーガーメニュー
-------------------------------------------*/

   /* ハンバーガーメニュー */
   .menu-btn {
     /* 場所を右上に固定する */
     position: fixed;
     right: 0;
     top: 0;

     /* サイズの調整を可能にする */
     display: flex;
     width: 48px;
     height: 48px;

     /* 背景色 */
     background: gray;
     z-index: 1001;
     /* 3本線（span）を子要素にして、ボックスの中央に持ってくる */
     justify-content: center;
     align-items: center;
     z-index: 2;
     border-radius: 5px;
   }

   /* ３本線の共通の項目 */
   /* span＝中央の線 */
   .menu-btn span,
   .menu-btn span::before,
   .menu-btn span::after {
     transition: 0.5s;
     content: '';
     display: block;
     position: absolute;
     width: 25px;
     height: 3px;
     background: #ffffff;
     border-radius: 10px;
   }

   /* spanの要素内側の行頭に要素を挿入する（１本目の線） */
   .menu-btn span::before {
     bottom: 8px;
   }

   /* spanの要素内側の行尾に要素を挿入する */
   .menu-btn span::after {
     top: 8px;
   }

   #menu-btn-check {
     outline: 5px solid red;
   }

   /* IDmenu-btn-checkにチェックが入っているときに限り、弟要素の中にあるspanに適応 */
   #menu-btn-check:checked~.menu-btn span {
     background-color: rgba(255, 255, 255, 0);
   }

   #menu-btn-check:checked~.menu-btn span::before {
     bottom: 0;
     transform: rotate(45deg);
   }

   #menu-btn-check:checked~.menu-btn span::after {
     top: 0;
     transform: rotate(-45deg);
   }

   /* メニューが右から出現する */
   /* gnavクラスの中にあるIDmenu-btn-checkがチェックされたときに限り、弟要素のulに */
   .gnav #menu-btn-check:checked~ul {
     left: 0;
     transition: 0.5s;
   }


   /* チェックボックスを見えなくする */
   #menu-btn-check {
     display: none;
   }


   /* ここからナビ */
   .gnav ul {
     background: white;
     position: fixed;
     top: 0;
     left: 100%;
     bottom: 0;
     width: 50%;
     height: 100%;
     transition: all 0.5s;
     /* 配置を最前面に持ってくる（デフォルトは０、後ろに置きたいときはマイナス、前はプラス） */
     z-index: 1;
     flex-direction: column;

     /* ナビメニューの内容を中央に配置 */
     justify-content: center;
     align-items: center;
     padding: 0;
   }

   .gnav #menu-btn-check:checked~ul {
     left: 50%;
   }

   /* タッチ領域を画面いっぱいに広げる */
   .gnav li {
     width: 100%;
   }

   /* ナビゲーション内の文字を左揃え */
   .gnav a {
     text-align: left;
     padding-left: 20px;
   }


   /* ヘッダー・グローバルナビゲーションを上書き */
   .header {
     height: 100vh;
   }

   /* デザインを整えるためのボーダー（画像の下の境界） */
   .gnav {
     border-bottom: 1px solid #d8c7a0;
   }


   /*-------------------------------------------
白枠背景共通要素
-------------------------------------------*/
   .whiteBackgroundContent {
     background-color: white;
     border-radius: 10px;
     margin: 0 5%;
     padding: 5% 5%;
     color: black;
   }


   .blackBackgroundContent {
     margin: 0 5%;
     padding: 5% 5%;
   }

   /*-------------------------------------------
各セクション共通設定
-------------------------------------------*/
   section {
     margin-bottom: 10%;
   }


   /*-------------------------------------------
各dl共通設定
-------------------------------------------*/
   dl {
     margin: auto;
   }


   /*-------------------------------------------
メインビジュアル
-------------------------------------------*/
   #mainvisual {
     margin-bottom: 80px;
   }

   #mainvisual img {
     width: 100%;
     /* max-width: 1920px; */
     height: 600px;
     object-fit: cover;
   }


   /*-------------------------------------------
お知らせ
-------------------------------------------*/
   h2 {
     margin-left: 10%;
   }

   #news {
     font-size: small;
   }


   /*-------------------------------------------
上映スケジュール
-------------------------------------------*/

   /* スワイプタブ */
   .container {
     margin: 0px auto;
   }

   .swiper-wrapper {
     text-align: center;
   }

   .tab {
     margin: auto auto 0 auto;
     font-size: small;
     color: gray;
   }

   .swiper {
     margin: 0 0 0 0;
   }

   .tab-menu .swiper-slide {
     width: auto;
     padding: 10px 0;
   }

   .tab-contents {
     margin: 0px auto;
   }

   .swiper-slide-thumb-active {
     font-weight: bold;
     font-size: large;
     width: 30px;
     color: black;
     border-bottom: #000 solid 2px;
   }

   /* テーブルのレイアウト */
   .scheduleTitle {
     padding: 3% 0;
     font-weight: bold;
   }

   table td {
     text-align: center;
     border: 1px solid gray;
   }

   .schedule table {
     border-collapse: collapse;
     width: 90%;
     font-size: large;
     margin: 10px auto 20px auto;
   }

   .schedule table img {
     vertical-align: bottom;
   }

   .movieImage {
     object-fit: cover;
     width: 100%;
     height: 100%;
     aspect-ratio: 3/4;
   }

   .imageCell {
     width: 45%;
   }

   .timeCell {
     width: 55%;
     /* height: 2.5em; */
     padding: 0.5em;
   }


   /* 左右の矢印 */
   .arrowImage {
     width: 10%;
     height: 20%;
     object-fit: cover;
     position: relative;
     top: -80vw;
     z-index: 1;
     opacity: 20%;
     border-radius: 10px;
     margin: 0 4%;
   }

   .arrowContainer {
     display: flex;
     justify-content: space-between;
   }


   /*-------------------------------------------
料金、アクセス共通
-------------------------------------------*/
   .dlContent dl {
     display: flex;
     /* dt、ddを横並びにする */
     flex-wrap: wrap;
     /* dtとddが100%になったら、横並びを折り返す */
     padding: 16px 0;
     margin-bottom: 25px;
   }

   .dlContent dt {
     width: 25%;
   }

   .dlContent dd {
     width: 75%;
   }


   /*-------------------------------------------
料金
-------------------------------------------*/
   #price .dlContent dt {
     width: 70%;
   }

   #price .dlContent dd {
     width: 30%;
   }


   #price dd {
     text-align: right;
   }



   /*-------------------------------------------
アクセス
-------------------------------------------*/

   /* .accessTable .dlContent dt {
     width: 35%;
   }

   .accessTable .dlContent dd {
     width: 55%;
   } */

   .accessTable tr {
     border-bottom: 1px solid #b5b1b1;
   }


   #table01 tr {
     border-bottom: 1px solid #b5b1b1;
   }

   #table01 th,
   #table01 td {
     padding: 24px 0;
     border: none;
     text-align: left;
   }

   #table01 th {
     text-align: left;
     width: 15%;
   }

   /* sp */
   /* @media only screen and (max-width: 480px) {
    #table01 th,
    #table01 td {
      width: 100%;
      display: block;
    }
  
    #table01 th {
      width: 100%;
    }
  
    #table01 td {
      padding-top: 0;
    } */


/*-------------------------------------------
お問い合わせ
-------------------------------------------*/

   .privacyPolicy {

     color: #000;
     font-size: small;
     margin-bottom: 20px;
     padding: 3%;
   }

   .privacyPolicy h3{
    padding-top: 1em;
   }

   .address{
    margin-top: 3em;
    /* margin-left: auto; */
    margin-right: 0%;
    width: 70%;
   }

   input {
     color: white;
   }

   textarea {
     color: white;
   }

   /* フォームの3つのブロックに対する指定 */
   .form-group {
     margin-bottom: 20px;
   }

   /* 項目名に対する指定 */
   .form-label {
     display: block;
     margin-bottom: 10px;
     color: white;
   }

   /* 送信ボタンを囲む<div>に対する指定 */
   .form-btn {
     margin: 30px 0;
     text-align: center;
   }

   /* 入力欄に対する指定 */
   input[type="text"],
   input[type="email"],
   textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #999;
   }

   /* 入力欄が:focus（入力状態）のとき */
   input[type="text"]:focus,
   input[type="email"]:focus,
   textarea:focus {
     border-color: #032559;
     outline: none;
   }

   /* 送信ボタン */
   button[type="submit"] {
     background: none;
     border: none;
     cursor: pointer;
   }

   /* 送信ボタンが:hoverのとき */
   button[type="submit"]:hover {
     opacity: 0.65;
   }

   .button {
     display: inline-block;
     border-radius: 5%;
     /* 角丸       */
     font-size: 18pt;
     /* 文字サイズ */
     text-align: center;
     /* 文字位置   */
     cursor: pointer;
     /* カーソル   */
     padding: 12px 35px;
     /* 余白       */
     background: #ffffff;
     /* 背景色     */
     color: #000000;
     /* 文字色     */
     line-height: 1em;
     /* 1行の高さ  */
     transition: .3s;
     /* なめらか変化 */
     border: 2px solid #ffffff;
     /* 枠の指定 */
   }

   .button:hover {
     color: #ffffff;
     /* 背景色     */
     background: #000000;
     /* 文字色     */
   }


   /* .arrowImage{
    background-color: white;
    color: wheat;
    position:relative;
    top: 100px;
    z-index: 1;
   } */


/*-------------------------------------------
フッター
-------------------------------------------*/
footer{
  text-align: center;
  height: 1.5rem;
}