   /*

コーディング仕様


html {
  font-size: 100%;
}

body {
  font-family: 'Crimson Text', serif;
}

これ大切
#mainVisual img{
   width: 100%;
   height: 100vh;
   object-fit: cover;
   object-position: center top;
}

リスト調整
list-style:none;とか

*/

   @charset "UTF-8";

   /* * {
	border: 1px solid red;
} */

   main {
     background-color: rgb(0, 0, 0);
     list-style: none;
   }

   body {
     /* font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif; */
     /* font-family: "メイリオ", meiryo, sans-serif; */
     font-family: 'Noto Sans JP', sans-serif;
     font-weight: 300;
   }


   body {
     list-style: none;
     color: white;
   }

   @media screen and (min-width: 768px) {
     main {
       background-color: red;
     }
   }

   li {
     list-style: none;
   }

   /*-------------------------------------------
ヘッダーナビゲーション
-------------------------------------------*/


   /*-------------------------------------------
ロゴ
-------------------------------------------*/


   .head {
     color: #fff;
     background: black;
     display: flex;
     justify-content: center;
   }

   .logo {
    padding-top: 5px;
    height: 60px;
  }




   /*-------------------------------------------
ハンバーガーメニューの中身のメニューの装飾
-------------------------------------------*/

   .gnav a {
     display: block;
     padding: 15px 0;
     color: #fff;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
   }

   .gnav a:hover {
     background-color: #a7a7a7;
     color: white;
     font-weight: 700;
   }

   /* --------------------------------
ハンバーガーメニュー
---------------------------------*/
   @media screen and (max-width: 767px) {
     .menu-btn {
      margin: 8px;
       /* margin-top: 10px; */
       position: fixed;
       right: 0;
       width: 48px;
       height: 48px;
       display: flex;
       justify-content: center;
       align-items: center;
       background: black;
       border-radius: 5px;
       z-index: 100;
     }

     .menu-btn span,
     .menu-btn span:before,
     .menu-btn span:after {
       content: '';
       display: block;
       position: absolute;
       width: 25px;
       height: 3px;
       border-radius: 3px;
       background-color: #ffffff;
     }


     .gnav ul {
       background: gray;
       position: fixed;
       width: 50%;
       height: 100%;
       left: 100%;
       font-weight: 600;
       top: 0;
       transition: all 0.5s;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 5em;
       z-index: 10;
     }

     .menu-btn span:before {
       bottom: 8px;
     }

     .menu-btn span:after {
       top: 8px;
     }

     #menu-btn-check:checked~.menu-btn span {
       background-color: rgba(255, 255, 255, 0);
     }

     #menu-btn-check:checked~.menu-btn span::before {
       bottom: 0;
       transform: rotate(45deg);
     }

     #menu-btn-check:checked~.menu-btn span::after {
       top: 0;
       transform: rotate(-45deg);
     }

     /* ヘッダー・グローバルナビゲーションを上書き */
     .header {
       height: calc(100vh);
     }

     .gnav {
       border-bottom: 1px solid #d8c7a0;
     }

     .gnav #menu-btn-check:checked~ul {
       left: 50%;
     }

     .gnav li {
       width: 100%;
     }

     .gnav a {
       text-align: left;
       padding-left: 20px;
     }
   }

   #menu-btn-check {
     display: none;
   }



   @media screen and (min-width: 768px) {
     /* .head {
       display: flex;
     }
     .head ul {
      display: flex;
    } */

    .head {
      justify-content: space-between;
    }

    .container{
      display: flex;
    }
    .head li {
      background-color: #032559;
    }
    .head h1{
      background-color: red;
      width: 100px;
    }

    .head li:last-child {
      margin-right: 0;
    }
   }



   /*-------------------------------------------
メインビジュアル
-------------------------------------------*/
   .mainvisual img {
     width: 100%;
     height: 40vh;
     object-fit: cover;
     vertical-align: bottom;
     margin: 0 0 50px 0;
   }


   /*-------------------------------------------
白枠背景共通要素
-------------------------------------------*/
   .whiteBackgroundContent {
     background-color: white;
     border-radius: 10px;
     margin: 0 5%;
     padding: 5% 5%;
     color: black;
   }


   .blackBackgroundContent {
     margin: 0 5%;
     padding: 5% 5%;
   }

   /*-------------------------------------------
各セクション共通設定
-------------------------------------------*/
   section {
     margin-bottom: 10%;
   }


   /*-------------------------------------------
各見出し共通設定
-------------------------------------------*/
   h2 {
     margin-left: 5%;
     margin-bottom: 0.5em;
     color: white;
     font-weight: 500;
   }


   /*-------------------------------------------
メインビジュアル
-------------------------------------------*/
   .mainvisual {
     margin-bottom: 80px;
   }

   .mainvisual img {
     width: 100%;
     height: 50vh;
     object-fit: cover;
   }


   /*-------------------------------------------
お知らせ
-------------------------------------------*/

   .news dl {
     font-size: 0.9em;
     margin-top: 0.5em;
     margin-bottom: 1.3em;
   }

   .news dd {
     font-weight: 300;
   }


   /*-------------------------------------------
上映スケジュール
-------------------------------------------*/

   /* スワイプタブ */
   .container {
     margin: 0px auto;
   }

   .swiper-wrapper {
     text-align: center;
   }

   .tab {
     margin: auto auto 0 auto;
     font-size: small;
     color: gray;
   }

   .tab-menu .swiper-slide {
     width: auto;
     padding: 10px 0;
   }

   .tab-contents {
     margin: 0px auto;
   }


   /* タブ選択中の装飾 */
   .swiper-slide-thumb-active {
     font-weight: bold;
     font-size: large;
     width: 30px;
     color: black;
     border-bottom: #000 solid 3px;
   }

   /* タブの下の「○/○のスケジュール」部分 */
   .scheduleText {
     margin: 1em 0;
     font-size: medium;
     font-weight: bold;
   }

   /* テーブルのレイアウト */
   .scheduleTitle {
     padding: 3% 0;
     font-weight: bold;
   }

   table td {
     text-align: center;
     border: 1px solid gray;
   }

   .schedule table {
     border-collapse: collapse;
     width: 90%;
     font-size: large;
     margin: 10px auto 20px auto;
     z-index: 1;
   }

   .schedule table img {
     vertical-align: bottom;
   }

   .movieImage {
     /* aspect-ratio: 3/4; */
     object-fit: cover;
     width: 100%;
     height: 100%;
   }

   .imageCell {
     width: 30vw;
     height: 40vw;
   }

   .timeCell {
     height: 2em;
     /* padding: 0.5em; */
   }

   .titleCell {
     background-color: white;
   }


   /* 左右の矢印 */
   .arrowImage {
     width: 10%;
     height: 20%;
     object-fit: cover;
     position: relative;
     top: -80vw;
     z-index: 1;
     opacity: 20%;
     border-radius: 10px;
     margin: 0 4%;
   }

   .arrowContainer {
     display: flex;
     justify-content: space-between;
   }


   /*-------------------------------------------
料金
-------------------------------------------*/
   .dlContent dl {
     display: flex;
     /* dt、ddを横並びにする */
     flex-wrap: wrap;
     /* dtとddが100%になったら、横並びを折り返す */
     margin-bottom: 1em;
   }

   #price .dlContent dt {
     width: 60%;
   }

   #price .dlContent dd {
     text-align: right;
     width: 30%;
   }

   #price dd,
   dt {
     margin-top: 1em;
   }



   /*-------------------------------------------
アクセス
-------------------------------------------*/



   .accessTable {
     width: 90%;
     border-collapse: collapse;
     margin: 20px auto;
   }

   .accessTable th {
     /* border: 1px solid #ccc; */
     background: rgb(30, 30, 30);
     /* background: #e9727e; */
     color: #fff;
     padding: 0.5em;
     font-size: medium;
     font-weight: 400;

   }

   .accessTable td {
     /* border: 1px solid #ccc; */
     border: 0px solid black;
     padding: 10px;
     text-align: left;
   }

   .last td:last-child {
     /* border-bottom: solid 1px #ccc; */
     border: 0px solid black;
     width: 100%;
   }

   .accessTable th,
   .accessTable td {
     border-bottom: none;
     display: block;
     width: 100%;
   }


   @media screen and (min-width: 768px) {

     .accessTable th,
     .accessTable td {
       border-bottom: none;
       display: table-cell;
     }

     .accessTable td {
       width: 70%;
     }

     .accessTable th {
       width: 30%;
     }

   }



   /*-------------------------------------------
お問い合わせ
-------------------------------------------*/

   .contact {
     width: 90%;
     margin: 0 auto;
   }

   .privacyPolicy h2 {
     color: black;
     font-weight: 900;
     margin: 0%;
     margin-bottom: 1em;
   }

   .privacyPolicy {
     color: #000;
     font-size: small;
     margin-bottom: 20px;
     padding: 2%;
     width: 100%;
   }

   .privacyPolicy h3 {
     padding-top: 1em;
   }

   .address {
     margin-top: 3em;
     /* margin-left: auto; */
     margin-right: 0%;
     width: 70%;
   }

   input {
     color: white;
   }

   textarea {
     color: white;
   }

   /* フォームの3つのブロックに対する指定 */
   .form-group {
     margin-bottom: 20px;
   }

   /* 項目名に対する指定 */
   .form-label {
     display: block;
     margin-bottom: 10px;
     color: white;
   }

   /* 送信ボタンを囲む<div>に対する指定 */
   .form-btn {
     margin: 30px 0;
     text-align: center;
   }

   /* 入力欄に対する指定 */
   input[type="text"],
   input[type="email"],
   textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #999;
   }

   /* 入力欄が:focus（入力状態）のとき */
   input[type="text"]:focus,
   input[type="email"]:focus,
   textarea:focus {
     border-color: #032559;
     outline: none;
   }

   /* 送信ボタン */
   button[type="submit"] {
     background: none;
     border: none;
     cursor: pointer;
   }

   /* 送信ボタンが:hoverのとき */
   button[type="submit"]:hover {
     opacity: 0.65;
   }

   .button {
     display: inline-block;
     border-radius: 5%;
     /* 角丸       */
     font-size: 18pt;
     /* 文字サイズ */
     text-align: center;
     /* 文字位置   */
     cursor: pointer;
     /* カーソル   */
     padding: 12px 35px;
     /* 余白       */
     background: #ffffff;
     /* 背景色     */
     color: #000000;
     /* 文字色     */
     line-height: 1em;
     /* 1行の高さ  */
     transition: .3s;
     /* なめらか変化 */
     border: 2px solid #ffffff;
     /* 枠の指定 */
   }

   .button:hover {
     color: #ffffff;
     /* 背景色     */
     background: #000000;
     /* 文字色     */
   }




   footer div {
     text-align: right;
   }

   .jumpToTopButton {
     margin-right: 20px;
     background-color: white;
     width: 4m;
     height: 4em;
     border-radius: 50%;
   }


   /*-------------------------------------------
フッター
-------------------------------------------*/
   footer {
     text-align: center;
   }

   footer .copyright {
     height: 2rem;
   }